<!-- ============================================ -->
<!--                     CTA.                     -->
<!-- ============================================ -->

<section id="clt-cta">
  <!-- Section Divider -->
  <img
    src="/assets/images/section-divider-1.png"
    alt="Moon divider"
    class="clt-divider one"
  />
  <!-- Title -->
  <h2 class="clt-section-title">Offerings</h2>
  <!-- Subtitle -->
  <p class="clt-section-description">
    A selection of our most popular and versatile items, perfect for
    practitioners of all levels.
  </p>
  <!-- Cards Row -->
  <div class="clt-cta-card-row">
    <div class="clt-cta-card first-card">
      <h3 class="card-title faded-bottom-border">Spell Kits</h3>
      <p class="card-description">
        Curated kits for specific intentions, including love, protection, and
        prosperity.
      </p>
    </div>
    <div class="clt-cta-card second-card">
      <h3 class="card-title faded-bottom-border">Herbal Blends</h3>
      <p class="card-description">
        Custom blends of herbs and resins for incense, teas, and spellwork.
      </p>
    </div>
    <div class="clt-cta-card third-card">
      <h3 class="card-title faded-bottom-border">Crystals</h3>
      <p class="card-description">
        A variety of crystals and gemstones, each with unique energetic
        properties.
      </p>
    </div>
  </div>
</section>
