<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="clt-footer">
  <p class="clt-footer-text">
    &copy; 2026 Crow & Moon Enchantments. All rights reserved.
  </p>
  <div id="code-less-traveled">
    <p>
      Designed and built by
      <a href="https:codelesstraveled.com">
        <img
          src="/assets/images/code-less-traveled-logo.png"
          alt="Logo for Code Less Traveled"
          title="code is poetry"
        />
      </a>
    </p>
  </div>
</footer>
