<!-- ============================================ -->
<!--                   Header                     -->
<!-- ============================================ -->
<link rel="stylesheet" href="/assets/css/header.css" />

<header id="clt-header">
  <div id="clt-logo">
    <img src="/assets/images/logo.png" alt="Crow & Moon Enchantments Logo" />
  </div>
  <div id="clt-sub-header">
    <ul>
      <li>WITCHCRAFT</li>
      -
      <li>ENCHANTING</li>
      -
      <li>PAGAN GOODS</li>
    </ul>
    <h1 class="clt-title">Crow & Moon Enchantments</h1>
    <h3 class="clt-tagline">
      Handmade and curated supplies for spellwork, altar craft, and everyday
      magic - created with intention, care, and a touch of the uncanny.
    </h3>
  </div>
</header>
