<!-- ============================================ -->
<!--                   Header                     -->
<!-- ============================================ -->
<header id="clt-header">
  <ul id="navigation">
    <li><a href="#clt-cta-section">OFFERINGS</a></li>
    <span>~</span>
    <li><a href="#clt-about-section">MY PRACTICE</a></li>
    <span>~</span>
    <li><a href="#clt-order-inquire-section">CONTACT</a></li>
  </ul>
  <h1 class="clt-title">Crow & Moon Enchantments</h1>
  <div id="clt-sub-header">
    <h2 class="clt-tagline">
      Handmade and curated supplies for spellwork, altar craft, and everyday
      magic - created with intention, care, and a touch of the uncanny.
    </h2>
  </div>
</header>
