<!-- ============================================ -->
<!--                   Header                     -->
<!-- ============================================ -->
<header id="clt-header">
  <h1 class="company-name">
    <span class="bigger-letter">C</span>row &
    <span class="bigger-letter">M</span>oon
    <span class="bigger-letter">E</span>nchantments
  </h1>
  <div id="clt-sub-header">
    <h2 class="clt-tagline">Where Everyday Objects Become Sacred</h2>
  </div>
  <ul id="clt-navigation">
    <li>
      <a href="#clt-cta-section">OFFERINGS</a>
    </li>
    <li>
      <a href="#clt-about-section">MY PRACTICE</a>
    </li>
    <li>
      <a href="#clt-order-inquire-section">FIND ME</a>
    </li>
  </ul>
</header>
