<!-- ============================================ -->
<!--                Order / Inquire               -->
<!-- ============================================ -->

<section id="clt-order-inquire">
  <!-- Section Divider -->
  <img
    src="/assets/images/section-divider-3.png"
    alt="Moon divider"
    class="clt-divider two"
  />
  <div class="clt-order-inquire-container">
    <!-- Left Content -->
    <div class="clt-order-inquire-left">
      <!-- Title -->
      <h2 class="clt-section-title">Order / Inquire</h2>
      <p>
        Replace with actual contact information and instructions. Basically,
        we're going to have a list of all the ways to contact us here, including
        links to our social media and etsy shop, as well as instructions for how
        to place an order or inquire about a custom piece. This will be the main
        call to action for the site, so it needs to be clear and easy to find.
        We want to make it as easy as possible for potential customers to get in
        touch with us and place an order, so we'll include all the necessary
        information and make it visually appealing.
      </p>
    </div>
    <!-- Right Content -->
    <div class="clt-order-inquire-right">
      <!-- Social Media Links  -->
      <div class="clt-social-links">
        <a href="#" class="clt-social-link" aria-label="Instagram"
          ><img src="/assets/images/instagram.png" alt="Instagram"
        /></a>
        <a href="#" class="clt-social-link" aria-label="Facebook"
          ><img src="/assets/images/facebook.png" alt="Facebook"
        /></a>
        <a href="#" class="clt-social-link" aria-label="Etsy"
          ><img src="/assets/images/etsy.png" alt="Etsy"
        /></a>
      </div>
    </div>
  </div>
</section>
