---
title: "Project One | Code Stitch Web Designs"
description: "Meta description for the page"
permalink: "/project-one/"
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/projects.css" />
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-310">
  <div class="cs-container">
    <span class="cs-int-title">Project One Gallery</span>
    <div class="cs-breadcrumbs">
      <a href="/" class="cs-link">Home</a>
      <a href="/project-one/" class="cs-link cs-active">Project One Gallery</a>
    </div>
  </div>
  <!--Background Image-->
</div>

{% include 'sections/cta.html' %} {% endblock %}
