---
title: "Crow & Moon Enchantments"
description: "Everyday magic for the modern witch. Crow & Moon Enchantments is a small business that creates handmade, high-quality magical tools and accessories for witches and spiritual practitioners."
permalink: "/"
tags: "sitemap" # content/content.json will make sure that all pages in content/ are marked with a "sitemap" tag, for automatic sitemap generation. As index.html is not in content/, we need to add it here to ensure the root page is included in the sitemap generation
---

{% extends "layouts/base.html" %} {% block head %}
<!-- Critical styles are loaded first -->
<link rel="stylesheet" href="/assets/css/critical.css" />

<!-- If we're in production, defer the rest of the home page styles. In development, always load it. Otherwise the site will break when hot-reload is used. -->
{% if client.isProduction %}
<link
  rel="preload"
  href="/assets/css/local.css"
  as="style"
  onload="
    this.onload = null;
    this.rel = 'stylesheet';
  "
/>
<noscript>
  <link rel="stylesheet" href="/assets/css/local.css" />
</noscript>

{% else %}
<link rel="stylesheet" href="/assets/css/local.css" />
{% endif %} {% endblock %} {% block body %} {% include 'sections/cta.html' %} {%
endblock %}
