// ─────────────────────────────────────────────────────────────────────────────
// GLOBAL STYLES
// Core stylesheet containing CSS variables, dark mode styles, base element
// styling, typography rules, utility classes, component styles, navigation,
// footer, and other repeated section styles for the entire site
// ─────────────────────────────────────────────────────────────────────────────

/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/

/* Core Styles + Reset */
@media only screen and (min-width: 0px) {
  /* All elements in the library derive their variables and base styles from this central sheet, simplifying site-wide edits. For instance, if you want to modify how your h2's appear across the site, you just update it once in the global styles, and the changes apply everywhere. */
  :root {
    --primary: #ff6a3e;
    --primaryLight: #ffba43;
    --secondary: #ffba43;
    --secondaryLight: #ffba43;
    --headerColor: #fbead3;
    --bodyTextColor: #fbead3;
    --bodyTextColorWhite: #fbead3;

    --headerFont: "Cormorant Garamond", serif;
    --bodyFont: "Cormorant Garamond", serif;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    font-family: var(--bodyFont);
    font-size: 100%;
    color: var(--bodyTextColor);
    font-weight: 400;
  }
  #parallax-background {
    background-image:
      linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.3) 25%,
        rgba(0, 0, 0, 0.7) 50%,
        rgba(0, 0, 0, 0.6) 75%,
        rgba(0, 0, 0, 0) 100%
      ),
      url("/assets/images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
  }

  *,
  *:before,
  *:after {
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

/* Components + Utilities */
@media only screen and (min-width: 0px) {
  // Hidden screen reader skip nav button
  .skip {
    z-index: -1111111;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
}

/* Desktop Utilities */
@media only screen and (min-width: 64rem) {
  .hide-on-mobile {
    display: block !important;
  }

  .hide-on-desktop {
    display: none !important;
  }
}

/* Base Element Styles */
@media only screen and (min-width: 0px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--headerFont);
    line-height: 1.2em;
    color: var(--headerColor);
  }

  p,
  li,
  a {
    font-size: calc(16 / 16 * 1rem);
    line-height: 1.5em;
  }

  p,
  li {
    color: var(--bodyTextColor);

    a {
      color: var(--primary);
    }
  }

  a,
  button {
    &:hover {
      cursor: pointer;
    }
  }

  body.dark-mode {
    background-color: var(--dark);

    p,
    li,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--bodyTextColor);
    }
  }
}

/* Fonts */
@media only screen and (min-width: 0px) {
  // Grab your fonts to locally host from https://gwfh.mranftl.com/fonts
  /* cormorant-garamond-italic */
  @font-face {
    font-style: italic;
    font-family: "Cormorant Garamond";
    font-weight: 400;
    font-display: swap;
    src:
      url("/assets/fonts/cormorant-garamond-v21-latin-italic.woff2")
        format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("/assets/fonts/cormorant-garamond-v21-latin-italic.woff")
        format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* cormorant-garamond-regular */
  @font-face {
    font-style: normal;
    font-family: "Cormorant Garamond";
    font-weight: 400;
    font-display: swap;
    src:
      url("/assets/fonts/cormorant-garamond-v21-latin-regular.woff2")
        format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("/assets/fonts/cormorant-garamond-v21-latin-regular.woff")
        format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* cormorant-garamond-regular-700 */
  @font-face {
    font-style: normal;
    font-family: "Cormorant Garamond";
    font-weight: 700;
    font-display: swap;
    src:
      local(""),
      url("/assets/fonts/cormorant-garamond-v21-latin-700.woff2")
        format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("/assets/fonts/cormorant-garamond-v21-latin-700.woff")
        format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* cormorant-garamond-italic-700 */
  @font-face {
    font-style: italic;
    font-family: "Cormorant Garamond";
    font-weight: 700;
    font-display: swap;
    src:
      local(""),
      url("/assets/fonts/cormorant-garamond-v21-latin-700italic.woff2")
        format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("/assets/fonts/cormorant-garamond-v21-latin-700italic.woff")
        format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
}

/*-- -------------------------- -->
<---   SECTION DIVIDERS         -->
<--- -------------------------- -*/
.clt-divider {
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 600px;
}

@media only screen and (max-width: 1023.5px) {
  .clt-divider {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
  }
}

/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Desktop */
@media only screen and (min-width: 0px) {
  #clt-cta {
    padding: var(--sectionPadding);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    h2.clt-cta-title {
      font-size: 2.75rem;
      line-height: 1.2em;
      font-weight: 100;
      letter-spacing: 0.1em;
    }

    h3.card-title {
      display: flex;
      justify-content: center;
      padding-bottom: calc(16 / 16 * 1rem);
      padding-top: calc(16 / 16 * 1rem);
      font-size: calc(28 / 16 * 1rem);
      line-height: 1.2em;
      font-weight: 100;
      letter-spacing: 0.05em;
      justify-content: center;

      &.faded-bottom-border {
        border-bottom: 1px solid;
        /* Gradient: Color -> Transparent -> Color */
        border-image: linear-gradient(
            to right,
            transparent,
            var(--bodyTextColor) 50%,
            transparent
          )
          1;
        border-bottom-width: 1px;
      }
    }

    .clt-cta-subtitle {
      font-size: calc(18 / 16 * 1rem);
      line-height: 1.5em;
      font-weight: 400;
      letter-spacing: 0.05em;
      margin-top: 5px;
    }

    .clt-cta-card-row {
      margin-top: calc(32 / 16 * 1rem);
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }

    .clt-cta-card {
      // Height and width are based on the image size, but you can adjust them as needed. Just make sure to keep the aspect ratio the same if you change one of them.
      width: 300px;
      height: 332px;
      padding: calc(50 / 16 * 1rem);
      margin-right: calc(16 / 16 * 1rem);
      margin-left: calc(16 / 16 * 1rem);
      display: flex;
      flex-direction: column;
      gap: calc(24 / 16 * 1rem);
      background-size: contain;
      &.first-card {
        background-image: url("/assets/images/card-background-1.png");
      }
      &.second-card {
        background-image: url("/assets/images/card-background-2.png");
      }
      &.third-card {
        background-image: url("/assets/images/card-background-3.png");
      }

      .card-description {
        font-size: calc(18 / 16 * 1rem);
        line-height: 1.5em;
        font-weight: 400;
        letter-spacing: 0.05em;
      }
    }
  }
}

/* Mobile */
@media only screen and (max-width: 1023.5px) {
  #clt-cta {
    .clt-cta-subtitle {
      text-align: center;
      width: 80vw;
    }

    .clt-cta-card-row {
      flex-direction: column;
      align-items: center;

      .clt-cta-card {
        margin: calc(16 / 16 * 1rem) 0;
      }
    }
  }
}

/*-- -------------------------- -->
<---          About             -->
<--- -------------------------- -*/

/* Desktop */
@media only screen and (min-width: 0px) {
  #clt-about {
    display: flex;
    flex-direction: column;
    align-items: center;

    .clt-about-container {
      max-width: calc(960 / 16 * 1rem);
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }

    .clt-about-left {
      width: 70%;
      padding: calc(10 / 16 * 1rem) calc(50 / 16 * 1rem) 0 calc(50 / 16 * 1rem);
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      gap: calc(16 / 16 * 1rem);
      font-size: calc(20 / 16 * 1rem);
      line-height: 1.5em;
      font-weight: 400;
      letter-spacing: 0.05em;

      h2.clt-title {
        font-size: 2.75rem;
        line-height: 1.2em;
        font-weight: 100;
        letter-spacing: 0.1em;
      }

      .about-text {
        display: block;

        img {
          float: right;
          height: 100%;
          border-radius: calc(8 / 16 * 1rem);
          margin: calc(16 / 16 * 1rem);
        }
      }
      .clt-button {
        align-self: start-end;
        margin-top: calc(16 / 16 * 1rem);
      }
    }
    .clt-about-right {
      width: 30%;
      padding: calc(30 / 16 * 1rem) calc(50 / 16 * 1rem) 0 calc(50 / 16 * 1rem);
      margin-left: calc(32 / 16 * 1rem);
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        opacity: 0.33;
        transition: opacity 0.5s ease-in-out;

        &.twinkle {
          opacity: 1;
        }
      }

      .clt-about-img {
        width: 100%;
        height: auto;
        max-width: calc(400 / 16 * 1rem);
        border-radius: calc(8 / 16 * 1rem);
      }
    }

    a.clt-button-link {
      font-family: var(--bodyFont);
      font-weight: 400;
      letter-spacing: 0.1em;
      background-image: url("/assets/images/button-background.gif");
      background-repeat: no-repeat;
      background-size: contain;
      color: var(--bodyTextColor);
      text-decoration: none;
      border: none;
      font-size: 20px;
      padding: 7px 20px;
      transition: all 1s ease-in-out;

      &:hover {
        color: rgb(193, 85, 255);
      }
    }
  }
}

/* Mobile */
@media only screen and (max-width: 1023.5px) {
  #clt-about {
    .clt-about-container {
      flex-direction: column;
      align-items: center;
      .clt-about-left {
        width: 98vw;
        padding: calc(10 / 16 * 1rem) calc(16 / 16 * 1rem) 0
          calc(16 / 16 * 1rem);
      }
      .clt-about-right {
        display: none;
      }
    }
  }
}

/*-- -------------------------- -->
<---        Order/Inquire.      -->
<--- -------------------------- -*/

/* Desktop */
@media only screen and (min-width: 0px) {
  #clt-order-inquire {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .clt-order-inquire-container {
      max-width: calc(960 / 16 * 1rem);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: calc(32 / 16 * 1rem);

      h2.clt-title {
        font-size: 2.75rem;
        line-height: 1.2em;
        font-weight: 100;
        letter-spacing: 0.1em;
      }

      .clt-order-inquire-left {
        width: 65%;
        padding: 0 calc(50 / 16 * 1rem);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: calc(16 / 16 * 1rem);
        font-size: calc(20 / 16 * 1rem);
        line-height: 1.5em;
        letter-spacing: 0.05em;
      }

      .clt-order-inquire-right {
        width: 35%;

        .clt-social-links {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-around;
          gap: calc(16 / 16 * 1rem);
        }

        a.clt-social-link img {
          width: 135px;
          color: var(--bodyTextColor);
          transition: transform 0.3s ease-in-out;

          &:hover {
            transform: translate(2, 2);
          }
        }

        .clt-order-inquire-img {
          width: 100%;
          height: auto;
          max-width: calc(400 / 16 * 1rem);
          border-radius: calc(8 / 16 * 1rem);
        }
      }
    }
  }
}

/* Mobile */
@media only screen and (max-width: 1023.5px) {
  #clt-order-inquire {
    .clt-order-inquire-container {
      flex-direction: column;
      align-items: center;
      .clt-order-inquire-left {
        width: 98vw;
        padding: calc(10 / 16 * 1rem) calc(16 / 16 * 1rem) 0
          calc(16 / 16 * 1rem);
      }
      .clt-order-inquire-right {
        width: 98vw;
        .clt-social-links {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          padding: calc(10 / 16 * 1rem) calc(16 / 16 * 1rem) 0
            calc(16 / 16 * 1rem);
        }
      }
    }
  }
}

/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0px) {
  #clt-footer {
    font-weight: 400;
    letter-spacing: 0.05em;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 100px;
    margin-top: calc(50 / 16 * 1rem);
    padding-bottom: 10px;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    );
    opacity: 0;
    transition: opacity 1s ease-in-out;

    &.visible {
      opacity: 1;
    }

    .clt-footer-text {
      font-size: calc(18 / 16 * 1rem);
    }

    #code-less-traveled img {
      height: 10px;
    }
  }
}

// Mobile - 1024px
@media only screen and (max-width: 1023.5px) {
  #clt-footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: calc(16 / 16 * 1rem) 0;

    .clt-footer-text {
      font-size: calc(16 / 16 * 1rem);
      text-align: center;
      margin-bottom: calc(8 / 16 * 1rem);
    }

    #code-less-traveled img {
      height: 10px;
    }
  }
}
