// ─────────────────────────────────────────────────────────────────────────────
// CRITICAL PAGE STYLES
// Above-the-fold and high-priority styles for the home page's landing section.
// Put the first section of the home page in here, so it loads immediately.
// The rest of the home page styles in local.css will be deferred and
// ─────────────────────────────────────────────────────────────────────────────

/*-- -------------------------- -->
<---    Parallax Background     -->
<--- -------------------------- -*/
// Desktop gets a bigger background image
@media only screen and (min-width: 1024px) {
  .parallax-background {
    z-index: -1;
    background-image: url("/assets/images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
  }
}

// Mobile gets a smaller background image
@media only screen and (max-width: 640px) {
  .parallax-background {
    z-index: -1;
    background-image: url("/assets/images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
  }
}

/*-- -------------------------- -->
<---    Background Gradient     -->
<--- -------------------------- -*/
#body-gradient {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-attachment: fixed;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(5, 0, 8, 0.3) 25%,
    rgba(5, 0, 8, 0.8) 50%,
    rgba(5, 0, 8, 0.6) 75%,
    rgba(5, 0, 8, 0) 100%
  );
}

// Make the website content sit above the #body-gradient
#main {
  z-index: 10;
  position: relative;
}

/*-- -------------------------- -->
<---          HEADER            -->
<--- -------------------------- -*/

// Mobile styles for the header. Most of the styling is here.
@media only screen and (min-width: 0rem) {
  #top-gradient {
    width: 100%;
    height: 125px;
    position: fixed;
    pointer-events: none; // Allows user to click through this element to a link underneath
    z-index: 100;
    background: linear-gradient(
      to bottom,
      rgb(5, 0, 8) 5%,
      rgba(11, 0, 15, 0) 100%
    );
    opacity: 0;
    transition: all 1.5s ease;

    &.visible {
      opacity: 1;
    }
  }

  #clt-super-header {
    display: flex;
    justify-content: center;

    #clt-logo {
      position: relative;
      z-index: 1000;
      width: 350px;
    }

    a#clt-logo-mini {
      z-index: 1000;
      transform: translateY(-400px);
      position: fixed;
      cursor: pointer;
      top: 0;
      left: 5vw;
      transition: transform 0.5s ease-in-out;

      img {
        width: 111px;
      }
    }
  }

  #clt-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .clt-title {
      font-weight: 100;
      font-size: 3.25rem;
      text-align: center;
    }

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      margin: 30px auto 30px;
      list-style: none;

      li {
        a {
          transition: all 1s ease-in-out;
          text-decoration: none;
          color: var(--bodyTextColor);
          &:hover {
            color: var(--primary);
          }
        }
      }

      span {
        margin: 0 10px;
        font-size: 1.5em;
        padding-bottom: 8px;
      }
    }
    #clt-sub-header {
      letter-spacing: 0.1em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;

      .clt-tagline {
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.5;
        margin: 10px auto 0;
        max-width: 960px;
        text-align: center;
        padding: 0 20px;
      }
    }
  }
}

/*-- -------------------------- -->
<---  Desktop Specific Style    -->
<--- -------------------------- -*/

@media screen and (min-width: 64rem) {
  #clt-logo {
    width: 380px;
  }
  ul#navigation {
    li a {
      font-size: 1.3em;
      letter-spacing: 0.05em;
    }
    span {
      font-size: 2em;
    }
  }
}
