img#clt-logo {
  z-index: 420;
}

img#clt-logo-mini {
  transform: translateY(-500px);
  transform-origin: top;
  position: fixed;
  width: 111px;
  cursor: pointer;
  z-index: 69;
  left: 5vw;
  transition: all 0.2s ease-in-out;
}

#top-gradient {
  width: 100%;
  height: 150px;
  position: fixed;
  pointer-events: none; // Allows user to click through this element to a link underneath
  z-index: 1;
  background: linear-gradient(
    to bottom,
    rgb(0, 0, 0, 1) 5%,
    rgba(0, 0, 0, 0) 100%
  );
  opacity: 0;
  transition: all 0.8s ease;

  &.visible {
    opacity: 1;
  }
}

#clt-header {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  #clt-sub-header {
    max-width: 1024px;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    display: flex;
    flex-direction: column;
    justify-content: center;

    ul {
      max-width: 500px;
      margin: 25px auto;
      display: flex;
      flex-direction: row;
      align-items: center;

      li {
        display: inline-block;
        transition: color 1s;
        color: var(--bodyTextColor);
        &:hover {
          color: red;
        }
      }
      span {
        margin: 0 10px;
        padding-bottom: 5px;
      }
    }
  }

  .clt-title {
    color: var(--bodyTextColor);
    font-weight: 100;
    font-size: 3.25rem;
  }

  .clt-tagline {
    color: var(--bodyTextColor);
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 10px auto 0;
    max-width: 800px;
    padding: 0 20px;
  }
}

// Mobile-specific styles for the header
@media only screen and (max-width: 1023.5px) {
  img#clt-logo {
    width: 80vw;
  }
  img#clt-logo-mini {
    left: auto;
    right: 5vw;
  }

  #clt-header {
    #clt-sub-header {
      font-size: 1.2rem;
      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 10px auto 10px;
        li {
          margin: 5px 5px 5px;
        }
      }
    }
  }
}
