img#clt-logo {
  position: fixed; // Fixed position - sit on top of the page
  z-index: 420;
  transform: translateY(0);
  transition: all 0.2s ease;
}

img#clt-logo-mini {
  transform: scale(0.33) translateY(-400px);
  transform-origin: top center;
  position: fixed;
  cursor: pointer;
  z-index: 69;
  left: 0;
  transition: all 0.2s ease;
}

@keyframes slideUpLeftDown {
  0% {
    transform: scale(0.33) translate(0, 0);
  }
  50% {
    /* Finish sliding UP 400px first */
    transform: scale(0.33) translate(0, -400px);
  }
  75% {
    /* Then slide LEFT 1,800px (while staying up) */
    transform: scale(0.33) translate(-1800px, -400px);
  }
  100% {
    /* Return to original position */
    transform: scale(0.33) translate(-1800px, 0);
  }
}

#slide-box {
  width: 100%;
  height: 150px;
  position: fixed;
  pointer-events: none; // Allows user to click through this element to a link underneath
  z-index: 1;
  background: linear-gradient(
    to bottom,
    rgb(0, 0, 0, 1) 5%,
    rgba(0, 0, 0, 0) 100%
  );
  opacity: 0;
  transition: all 0.8s ease;

  &.visible {
    opacity: 1;
  }
}

#clt-header {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  #clt-sub-header {
    margin-top: 350px;
    max-width: 1024px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.1em;

    li {
      display: inline-block;
      margin: 15px 5px 25px;
      position: relative;
      padding: 5px 0;
      transition: color 1s;
      color: var(--bodyTextColor);
      cursor: pointer;
      &:hover {
        color: red;
      }
    }
  }

  .clt-title {
    color: var(--bodyTextColor);
    font-weight: 100;
    font-size: 3.25rem;
  }

  .clt-tagline {
    color: var(--bodyTextColor);
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 10px auto 0;
    width: 800px;
  }
}
