// ─────────────────────────────────────────────────────────────────────────────
// HOME PAGE STYLES
// Below-the-fold styles for the homepage that load after critical styles.
// The first section of the home page should go in critical.scss, while the
// rest of the home page styles go in here.
// ─────────────────────────────────────────────────────────────────────────────

/*-- -------------------------- -->
<---     SECTION DIVIDERS       -->
<--- -------------------------- -*/
.clt-divider {
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 600px;
}

@media only screen and (max-width: 64rem) {
  .clt-divider {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
  }
}

/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Desktop */
@media only screen and (min-width: 0px) {
  #clt-cta {
    padding: var(--sectionPadding);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    h2.clt-cta-title {
      font-size: 2.75rem;
      line-height: 1.2em;
      font-weight: 100;
      letter-spacing: 0.1em;
    }

    h3.card-title {
      display: flex;
      justify-content: center;
      padding-bottom: calc(16 / 16 * 1rem);
      padding-top: calc(16 / 16 * 1rem);
      font-size: calc(28 / 16 * 1rem);
      line-height: 1.2em;
      font-weight: 100;
      letter-spacing: 0.05em;
      justify-content: center;

      &.faded-bottom-border {
        border-bottom: 1px solid;
        /* Gradient: Color -> Transparent -> Color */
        border-image: linear-gradient(
            to right,
            transparent,
            var(--bodyTextColor) 50%,
            transparent
          )
          1;
        border-bottom-width: 1px;
      }
    }

    .clt-cta-subtitle {
      font-size: calc(18 / 16 * 1rem);
      line-height: 1.5em;
      font-weight: 400;
      letter-spacing: 0.05em;
      margin-top: 5px;
    }

    .clt-cta-card-row {
      margin-top: calc(32 / 16 * 1rem);
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }

    .clt-cta-card {
      // Height and width are based on the image size, but you can adjust them as needed. Just make sure to keep the aspect ratio the same if you change one of them.
      width: 300px;
      height: 332px;
      padding: calc(50 / 16 * 1rem);
      margin-right: calc(16 / 16 * 1rem);
      margin-left: calc(16 / 16 * 1rem);
      display: flex;
      flex-direction: column;
      gap: calc(24 / 16 * 1rem);
      background-size: contain;
      &.first-card {
        background-image: url("/assets/images/card-background-1.png");
      }
      &.second-card {
        background-image: url("/assets/images/card-background-2.png");
      }
      &.third-card {
        background-image: url("/assets/images/card-background-3.png");
      }

      .card-description {
        font-size: calc(18 / 16 * 1rem);
        line-height: 1.5em;
        font-weight: 400;
        letter-spacing: 0.05em;
      }
    }
  }
}

/* Mobile */
@media only screen and (max-width: 64rem) {
  #clt-cta {
    .clt-cta-subtitle {
      text-align: center;
      width: 80vw;
    }

    .clt-cta-card-row {
      flex-direction: column;
      align-items: center;

      .clt-cta-card {
        margin: calc(16 / 16 * 1rem) 0;
      }
    }
  }
}

/*-- -------------------------- -->
<---          About             -->
<--- -------------------------- -*/

/* Desktop */
@media only screen and (min-width: 0px) {
  #clt-about {
    display: flex;
    flex-direction: column;
    align-items: center;

    .clt-about-container {
      max-width: calc(960 / 16 * 1rem);
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }

    .clt-about-left {
      width: 70%;
      padding: calc(10 / 16 * 1rem) calc(50 / 16 * 1rem) 0 calc(50 / 16 * 1rem);
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      gap: calc(16 / 16 * 1rem);
      font-size: calc(20 / 16 * 1rem);
      line-height: 1.5em;
      font-weight: 400;
      letter-spacing: 0.05em;

      h2.clt-title {
        font-size: 2.75rem;
        line-height: 1.2em;
        font-weight: 100;
        letter-spacing: 0.1em;
      }

      .about-text {
        display: block;

        img {
          float: right;
          height: 100%;
          border-radius: calc(8 / 16 * 1rem);
          margin: calc(16 / 16 * 1rem);
        }
      }
      .clt-button {
        align-self: start-end;
        margin-top: calc(16 / 16 * 1rem);
      }
    }
    .clt-about-right {
      width: 30%;
      padding: calc(30 / 16 * 1rem) calc(50 / 16 * 1rem) 0 calc(50 / 16 * 1rem);
      margin-left: calc(32 / 16 * 1rem);
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        opacity: 0.33;
        transition: opacity 0.5s ease-in-out;

        &.twinkle {
          opacity: 1;
        }
      }

      .clt-about-img {
        width: 100%;
        height: auto;
        max-width: calc(400 / 16 * 1rem);
        border-radius: calc(8 / 16 * 1rem);
      }
    }
  }
}

/* Mobile */
@media only screen and (max-width: 1023.5px) {
  #clt-about {
    .clt-about-container {
      flex-direction: column;
      align-items: center;
      .clt-about-left {
        width: 98vw;
        padding: calc(10 / 16 * 1rem) calc(16 / 16 * 1rem) 0
          calc(16 / 16 * 1rem);
      }
      .clt-about-right {
        display: none;
      }
    }
  }
}

/*-- -------------------------- -->
<---        Order/Inquire.      -->
<--- -------------------------- -*/

/* Desktop */
@media only screen and (min-width: 0px) {
  #clt-order-inquire {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .clt-order-inquire-container {
      max-width: calc(960 / 16 * 1rem);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: calc(32 / 16 * 1rem);

      h2.clt-title {
        font-size: 2.75rem;
        line-height: 1.2em;
        font-weight: 100;
        letter-spacing: 0.1em;
      }

      .clt-order-inquire-left {
        width: 65%;
        padding: 0 calc(50 / 16 * 1rem);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: calc(16 / 16 * 1rem);
        font-size: calc(20 / 16 * 1rem);
        line-height: 1.5em;
        letter-spacing: 0.05em;
      }

      .clt-order-inquire-right {
        width: 35%;

        .clt-social-links {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-around;
          gap: calc(16 / 16 * 1rem);
        }

        a.clt-social-link img {
          width: 135px;
          transition: transform 0.3s ease-in-out;

          &:hover {
            transform: translate(2, 2);
          }
        }

        .clt-order-inquire-img {
          width: 100%;
          height: auto;
          max-width: calc(400 / 16 * 1rem);
          border-radius: calc(8 / 16 * 1rem);
        }
      }
    }
  }
}

/* Mobile */
@media only screen and (max-width: 1023.5px) {
  #clt-order-inquire {
    .clt-order-inquire-container {
      flex-direction: column;
      align-items: center;
      .clt-order-inquire-left {
        width: 98vw;
        padding: calc(10 / 16 * 1rem) calc(16 / 16 * 1rem) 0
          calc(16 / 16 * 1rem);
      }
      .clt-order-inquire-right {
        width: 98vw;
        .clt-social-links {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          padding: calc(10 / 16 * 1rem) calc(16 / 16 * 1rem) 0
            calc(16 / 16 * 1rem);
        }
      }
    }
  }
}

/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0px) {
  #clt-footer {
    font-weight: 400;
    letter-spacing: 0.05em;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 100px;
    margin-top: calc(50 / 16 * 1rem);
    padding-bottom: 10px;
    background: linear-gradient(
      to bottom,
      rgba(11, 0, 15, 0) 0%,
      rgba(5, 0, 8, 100) 100%
    );
    opacity: 0;
    transition: all 1s ease-in-out;

    &.visible {
      opacity: 1;
    }

    .clt-footer-text {
      font-size: calc(18 / 16 * 1rem);
    }

    #code-less-traveled img {
      height: 10px;
    }
  }
}

// Desktop - 1024px
@media only screen and (max-width: 64rem) {
  #clt-footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: calc(16 / 16 * 1rem) 0;

    .clt-footer-text {
      font-size: calc(16 / 16 * 1rem);
      text-align: center;
      margin-bottom: calc(8 / 16 * 1rem);
    }

    #code-less-traveled img {
      height: 10px;
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    // I'll allow duplicates here, but only if they need to change from light mode.
  }
}
