// ─────────────────────────────────────────────────────────────────────────────
// HOME PAGE STYLES
// Below-the-fold styles for the homepage that load after critical styles.
// The first section of the home page should go in critical.scss, while the
// rest of the home page styles go in here.
// ─────────────────────────────────────────────────────────────────────────────

/*-- -------------------------- -->
<---      SECTION STYLING       -->
<--- -------------------------- -*/

.clt-section {
  padding: var(--sectionPadding);

  h2.clt-section-title {
    font-size: 2.5rem;
    line-height: 1.5em;
  }
}

// Desktop
@media only screen and (min-width: 64rem) {
  .clt-section {
    padding: 0;
  }
}

/*-- -------------------------- -->
<---     SECTION DIVIDERS       -->
<--- -------------------------- -*/
.clt-divider {
  text-align: center;
  margin: 50px auto 50px;
  width: 100%;
}

@media only screen and (min-width: 64rem) {
  .clt-divider {
    &.one {
      width: 600px;
    }
    &.two {
      width: 500px;
      margin-top: 75px;
    }
    &.three {
      width: 400px;
    }
  }
}

/*-- -------------------------- -->
<---            CTA             -->
<---          Offerings         -->
<--- -------------------------- -*/

/* Desktop */
@media only screen and (min-width: 0px) {
  #clt-cta {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    h3.card-title {
      display: flex;
      justify-content: center;
      font-size: var(--cardTitleFontSize);
      padding-bottom: calc(16 / 16 * 1rem);
      padding-top: calc(16 / 16 * 1rem);
      font-weight: 100;
      justify-content: center;

      &.faded-bottom-border {
        border-bottom: 1px solid;
        border-image: linear-gradient(
            to right,
            transparent,
            var(--bodyColor) 50%,
            transparent
          )
          1;
        border-bottom-width: 1px;
      }
    }

    .clt-cta-card-row {
      margin: calc(32 / 16 * 1rem) auto 0;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 25px;
    }

    .clt-cta-card {
      // Height and width are based on the image size, but you can adjust them as needed. Just make sure to keep the aspect ratio the same if you change one of them.
      max-width: 350px;
      height: 400px;
      padding: calc(60 / 16 * 1rem) calc(30 / 16 * 1rem) 0;
      display: flex;
      flex-direction: column;
      gap: calc(24 / 16 * 1rem);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top center;
      font-size: var(--defaultFontSize);
      letter-spacing: var(--defaultLetterSpacing);
      &.first-card {
        background-image: url("/assets/images/card-background-1.png");
      }
      &.second-card {
        background-image: url("/assets/images/card-background-3.png");
      }
      &.third-card {
        background-image: url("/assets/images/card-background-2.png");
      }
    }
  }
}

/* Desktop */
@media only screen and (min-width: 64rem) {
  #clt-cta {
    .clt-cta-card-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      gap: unset;
    }
    .clt-cta-card {
      max-width: 320px;
    }
  }
}

/*-- -------------------------- -->
<---          About             -->
<--- -------------------------- -*/

/* Desktop */
@media only screen and (min-width: 0px) {
  #clt-about {
    display: flex;
    flex-direction: column;
    align-items: center;

    .clt-inner-container {
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }

    .clt-inner-left {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;

      .about-text {
        img {
          float: right;
          height: 100%;
          border-radius: calc(8 / 16 * 1rem);
          margin: calc(16 / 16 * 1rem);
        }
      }
    }

    .clt-inner-right {
      img {
        opacity: 0.33;
        transition: opacity 0.5s ease-in-out;

        &.twinkle {
          opacity: 1;
        }
      }

      .clt-about-img {
        max-width: calc(400 / 16 * 1rem);
      }
    }
  }
}

/* Mobile */
@media only screen and (max-width: 64rem) {
  #clt-about {
    .clt-about-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

/*-- -------------------------- -->
<---        Order/Inquire.      -->
<--- -------------------------- -*/

@media only screen and (min-width: 0px) {
  #clt-order-inquire {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .clt-order-inquire-container {
      .clt-order-inquire-left {
      }

      .clt-order-inquire-right {
        margin-top: 50px;
        .clt-social-links {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-around;
          gap: calc(16 / 16 * 1rem);
        }

        .clt-social-links {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          padding: calc(10 / 16 * 1rem) calc(16 / 16 * 1rem) 0
            calc(16 / 16 * 1rem);
        }

        a.clt-social-link img {
          width: 135px;
          transform: translate(0, 0);
          transition: all 0.3s ease-in-out;

          &:hover {
            transform: translate(2, 2);
          }
        }
      }
    }
  }
}

/* Desktop */
@media only screen and (min-width: 64rem) {
  #clt-order-inquire {
    .clt-order-inquire-container {
      display: flex;
      flex-direction: row;
      gap: 50px;

      .clt-order-inquire-left {
        width: 65%;
      }

      .clt-order-inquire-right {
        width: 35%;
      }
    }
  }
}

/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0px) {
  #clt-footer {
    font-weight: 400;
    font-size: var(--bodyFontSize);
    letter-spacing: var(--defaultLetterSpacing);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 100px;
    margin-top: calc(50 / 16 * 1rem);
    padding: calc(16 / 16 * 1rem);
    background: linear-gradient(
      to bottom,
      rgba(11, 0, 15, 0) 0%,
      rgba(5, 0, 8, 100) 100%
    );
    opacity: 0;
    transition: all 1s ease-in-out;

    &.visible {
      opacity: 1;
    }

    #code-less-traveled img {
      height: 13px;
      margin-left: 3px;
    }
  }
}

// Desktop - 1024px
@media only screen and (max-width: 64rem) {
  #clt-footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;

    .clt-footer-text {
      text-align: center;
      margin-bottom: calc(8 / 16 * 1rem);
    }

    #code-less-traveled img {
      height: 10px;
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    // I'll allow duplicate styles here, but only if they need to change from light mode.
  }
}
