@use "tools";

// ─────────────────────────────────────────────────────────────────────────────
// HOME PAGE STYLES
// Below-the-fold styles for the homepage that load after critical styles.
// The first section of the home page should go in critical.scss, while the
// rest of the home page styles go in here.
// ─────────────────────────────────────────────────────────────────────────────

/*-- -------------------------- -->
<---      SECTION STYLING       -->
<--- -------------------------- -*/

.clt-section {
  padding: var(--sectionPadding);

  h2.clt-section-title {
    font-size: #{tools.rem(32)};
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
    line-height: var(--defaulLineHeight);

    span.bigger-letter {
      font-size: #{tools.rem(46)};
    }
  }
}

// Desktop (1024px or larger)
@media only screen and (min-width: #{tools.rem(1024)}) {
  .clt-section {
    padding: 0;
  }
}

/*-- -------------------------- -->
<---     SECTION DIVIDERS       -->
<--- -------------------------- -*/
.clt-divider {
  text-align: center;
  margin: 50px auto 50px;
  width: 100%;
  animation: pulse 12s ease-in-out infinite;
  opacity: 0.7;
}
@keyframes pulse {
  0% {
    filter: brightness(100%) sepia(0%);
  }
  50% {
    filter: brightness(50%) sepia(5%);
  }
  100% {
    filter: brightness(100%) sepia(3%);
  }
}

@media only screen and (min-width: #{tools.rem(1024)}) {
  .clt-divider {
    &.one {
      width: 600px;
    }
    &.two {
      width: 500px;
      margin-top: 75px;
    }
    &.three {
      width: 400px;
    }
  }
}

/*-- -------------------------- -->
<---            CTA             -->
<---          Offerings         -->
<--- -------------------------- -*/

/* Desktop */
#clt-cta {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

  .clt-cta-card-row {
    margin: 32px auto 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 25px;
    .clt-cta-card {
      // Height and width are based on the image size, but you can adjust them as needed. Just make sure to keep the aspect ratio the same if you change one of them.
      max-width: 300px;
      height: 350px;
      background-image: url("/assets/images/card-background-1.gif");
      padding: #{tools.rem(30)};
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: #{tools.rem(24)};
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top center;
      letter-spacing: var(--defaultLetterSpacing);
      p.card-description {
        font-size: var(--cardFontSize);
        color: var(--bodyColorDark);
      }

      h3.card-title {
        display: flex;
        justify-content: center;
        font-size: var(--cardTitleFontSize);
        padding-bottom: #{tools.rem(30)};
        padding-top: #{tools.rem(10)};
        font-weight: 400;
        color: var(--bodyColorDark);
        justify-content: center;
        background: url("/assets/images/card-title-bg.gif") no-repeat bottom
          center;
      }
    }
  }
}

/* Desktop */
@media only screen and (min-width: #{tools.rem(1024)}) {
  #clt-cta {
    .clt-cta-card-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
  }
}

/*-- -------------------------- -->
<---          About             -->
<--- -------------------------- -*/

#clt-about {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

  .clt-inner-container {
    position: relative;
  }

  .clt-inner-left {
    display: flex;
    position: relative;
    flex-direction: column;
    z-index: 1000;

    .about-text {
      .portrait-frame {
        width: 150px;
        float: left;
        margin: 15px 25px 5px 0;
        aspect-ratio: 4/5;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        box-shadow:
          inset 0 0 0 1px rgba(255, 220, 170, 0.18),
          0 20px 50px rgba(0, 0, 0, 0.65);
      }

      .portrait-frame img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
        border: 4px solid #d3b16a;
        filter: contrast(1.15) sepia(50%) brightness(0.98);
      }
      .portrait-frame::after {
        content: "";
        height: 182px;
        width: 145px;
        position: absolute;
        border-radius: 15px;
        box-shadow: inset 0 0 60px rgba(0, 0, 0, 1.5);
        pointer-events: none;
      }
    }
  }
  .clt-inner-right {
    opacity: 0.33;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 20;

    &.twinkle {
      animation: shiny 10s ease-in-out infinite;
    }

    @keyframes shiny {
      0% {
        opacity: 0.33;
      }
      50% {
        opacity: 0.99;
      }
      100% {
        opacity: 0.33;
      }
    }
  }
}

/* Desktop */
@media only screen and (min-width: #{tools.rem(1024)}) {
  #clt-about {
    display: flex;
    flex-direction: column;
    align-items: center;

    .clt-inner-container {
      display: flex;
      flex-direction: row;
      gap: 50px;
    }

    .clt-inner-left {
      width: 75%;
    }

    .clt-inner-right {
      top: -50px;
      bottom: unset;

      img {
        width: 425px;
        height: auto;
      }
    }
  }
}

/*-- -------------------------- -->
<---        Order/Inquire.      -->
<--- -------------------------- -*/

#clt-order-inquire {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .contact-methods {
    margin: 25px 0 25px;
    text-align: left;
    margin-bottom: 25px;

    .email {
      background-image: url("/assets/images/email.png");
      display: flex;
      align-items: center;
      justify-content: center;
      background-repeat: no-repeat;
      height: 80px;
      max-width: 740px;
      margin: 25px auto;
      p.email-text {
        padding-left: 25px;
        a {
          letter-spacing: 0;
          font-size: var(--cardFontSize);
        }
      }
    }

    .schedule {
      background-image: url("/assets/images/schedule-mobile.png");
      background-repeat: no-repeat;
      background-size: contain;
      padding: 30px 20px 50px 45px;
      margin: 25px 0 25px;
      p {
        font-size: var(--cardFontSize);
        a {
          font-size: var(--cardFontSize);
        }
      }
    }
  }

  .cta-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    justify-content: space-between;
    a {
      text-decoration: none;
      color: var(--bodyColor);

      .bottom-box {
        margin-bottom: 25px;
        max-width: 300px;
        height: 350px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 0 #{tools.rem(30)} 0;
        background-size: contain;
        background-repeat: no-repeat;

        &.etsy {
          background-image: url("/assets/images/etsy-card.gif");
        }

        &.instagram {
          background-image: url("/assets/images/instagram-card.gif");
        }

        &.facebook {
          background-image: url("/assets/images/facebook-card.gif");
        }

        p.bottom-card-content {
          font-size: var(--cardFontSize);
          padding-bottom: 50px;
          text-align: center;
          color: var(--bodyColorDark);
        }
      }
    }
  }
}

/* Desktop */
@media only screen and (min-width: #{tools.rem(1024)}) {
  #clt-order-inquire {
    .contact-methods {
      .email {
        background-image: url("/assets/images/email.png");
        background-position: 175px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        height: 80px;
        max-width: 740px;
        margin: 25px auto;
        p.email-text {
          a {
            letter-spacing: 0;
          }
        }
      }
      .schedule {
        background-image: url("/assets/images/schedule.png");
        background-size: contain;
        background-position: top;
        height: 150px;
        max-width: 740px;
        padding: 40px 60px 30px 176px;
        margin: 25px auto;
      }
    }
    .cta-bottom {
      display: flex;
      flex-direction: row;
      .bottom-box {
        max-width: 320px;
        height: 350px;
      }
    }
  }
}

/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

#clt-footer {
  position: relative;
  z-index: 999;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  padding: #{tools.rem(10)};
  background: linear-gradient(
    to bottom,
    rgba(11, 0, 15, 0) 0%,
    rgba(2, 1, 4, 100) 100%
  );
  opacity: 0;
  transition: all 1s ease-in-out;

  &.visible {
    opacity: 1;
  }

  #code-less-traveled {
    img {
      height: 13px;
      margin-left: 3px;
    }
    a {
      border: none;
    }
  }
}

// Desktop (1024px or larger)
@media screen and (min-width: #{tools.rem(1024)}) {
  #clt-footer {
    height: 100px;
    flex-direction: row;
    align-items: flex-end;

    #code-less-traveled {
      a {
        border: none;
      }
    }
  }
}

/* Dark Mode */
body.dark-mode {
  // I'll allow duplicate styles here, but only if they need to change from light mode.
  margin: inherit;
}
